@use "../global" as g;

footer {
  align-items: baseline;
  display: flex;
  border-top: 3px double g.$formColor;
  margin-top: 5px;
  padding-top: 15px;
  h1 {
    font-family: g.$titleFont;
    font-size: g.$xlFontSize;
  }
}

div#bottom-area {
  align-items: flex-end;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  padding-top: 30px;
  #scroll-top {
    padding-left: 10px;
    white-space: nowrap;
  }
}
