@use "../global" as g;

a {
  color: g.$mainColor;
  text-decoration: underline;
  &:hover {
    color: g.$fontColor;
  }
  &.ci {
    color: g.$fontColor;
    text-decoration: none;
    &:hover {
      color: g.$mainColor;
    }
  }
  &.title {
    color: g.$mainColor;
    text-decoration: none;
    &:hover {
      color: g.$fontColor;
    }
  }
}
img {
  border-radius: 3px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
  height:auto;
  max-width:100%;
  max-height:100%;
  vertical-align:bottom;
  width:auto;
}
button, input, textarea {
  border: 1px solid #ccc;
  border-radius: 3px;
  margin: 5px 0 10px 0;
  padding: 10px;
}
input[type=submit] {
  background-color: g.$mainColor;
  color: g.$white;
  &:hover {
    background-color: g.$bgColor;
    color: g.$fontColor;
  }
}
button[type=submit] {
  &:hover {
    background-color: g.$bgColor;
  }
}
button.add-favorite {
  font-family: system-ui;
  line-height: normal;
  padding: 5px;
  white-space: nowrap;
  &:hover {
    background-color: g.$bgColor;
  }
  &:disabled {
    background-color: g.$bgColor;
  }
}
.new-text {
  color: g.$red;
  font-size: g.$sFontSize;
}
.pos-r {
  position: relative;
}
.d-none {
  display: none;
}
.fade-in {
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 20px);
  transform: translate(0, 20px);
  -webkit-transition: 0.5s all ease-in;
  transition: 0.5s all ease-in;
  &.active {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}
.adjust-img {
  border-radius: 3px;
  position: relative;
  overflow: hidden;
  img {
    max-width: none;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}
#faves {
  background-color: g.$white;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7);
  margin: 0 0 0 auto;
  padding: 15px;
  position: absolute;
  right: 0;
  top: 25px;
  width: calc(#{g.$media-pc} / 2);
  @include g.mediaQuery(tb) {
    width: 90vw;
    top: 40px;
  }
  > p:first-child {
    font-weight: bold;
  }
  ul#faves-list {
    li {
      display: flex;
      &.default-li {
        padding: 20px 0;
      }
      a {
        padding: 5px 0;
        p {
          align-items: center;
          display: flex;
          img {
            height: auto;
            margin-right: 5px;
            width: 10%;
            @include g.mediaQuery(tb) {
              width: 20%;
            }
          }
        }
      }
      button {
        margin: 5px 0;
      }
    }
  }
}
